<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-signin-client_id" content="640464385073-dinae39hei1id2j9vb4h11h9jsu4udli.apps.googleusercontent.com">
    <title>KRDS Watch</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link href="/images/favicon.png" rel="shortcut icon" type="image/png">
    <script src="/javascript/lib/jquery-1.11.3.min.js"></script>
    <!-- script id="google_script" src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script-->
    <script>
        // Asynchronously load the client library
        (function() {
            var po      =   document.createElement('script');
            po.type     =   'text/javascript';
            po.async    =   true;
            po.src      =   'https://apis.google.com/js/platform.js';
            po.onload   =   function() {
                gapi.load('auth2', function() {
                    gapi.auth2.init();
                });
            };
            var s       =   document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/index.css">
  </head>
<body>
    {{{ body }}}
    <div class="loader">
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
    </div>
</body>
</html>
