/*Common*/
html {
  height: 100%;
}
body {
  min-height: 100%;
}

a {
    color: inherit;
}

.container {
    width: 95%;
    margin-top: 10px;
}

.defaultHidden{
    display:none;
}

.card.small .card-content {
    max-height: 82%;
}

.previewDescription {
    display:block;
    height: 6.5em;
}

.card .card-action {
    padding: 5px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    margin-right: 0px;
    color:rgba(0,0,0,0.6);
}

.chip:hover {
    color: #1565c0;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #1565c0;
}

.headerTitle {
    left: 45% !important;
}
/*User Info*/
.userName {
    padding-left: 15px;
    font-size:15px;
}

.mobileUserImage {
    position: relative;
    top: 20%;
}

.postImg {
    height: 100px;
    background-size: contain !important;
}

/*Search Style*/
.mobileSearchIcon {
    margin-right: 5%;
}

li.search {
    margin-top: 2%;
    padding: 1px 0 0 0;
}

.search-wrapper {
    margin: 0 20px;
    transition: margin .25s ease;
}

.search-wrapper input, .search-wrapper input:focus {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 77%;
    height: 45px;
    margin: 0;
    border: 0;
    color: black;
    margin-left: 8px;
}

.search-wrapper input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.search-wrapper i.material-icons {
    position: absolute;
    top: -8px;
    right: 3px;
    cursor: pointer;
    color: black;
}


#search_bar_mobile {
    display: inline;
    width: 75%;
    margin-left: 4%;
}

.searchIcon {
    margin-left: 2%;
}

/* Dialog Style*/
=======
.search-wrapper i.material-icons:hover {
    color: #0d47a1;
}

.postBookmarkIcon {
    position: absolute;
    top: -2%;
    left: 1%;
    cursor: pointer;
}

.container {
    width: 95%
}

.card.small .card-content {
    max-height: 85%;
}

.previewDescription {
    display: block;
    height: 6.5em;
}

.card .card-action {
    padding: 5px;
}

.card-action {
    padding: 5px;
}


.btnComment {
    cursor: pointer;
    display: flex !important;
}

.inlineIcon {
    display:inline !important;
}

.card-action .category {
    margin-left:5px;
}

.card-action .btnComment {
    margin-top:5px;
    padding-right: 4%;
}

.card-action .btnComment i {
    margin-right: 2%;
}

.btnModalClose {
    position: relative;
    top: -5%;
    left: 5%;
}

#block_comment .comments {
    overflow-y: auto;
    max-height: 230px;
}

#comment_form {
    margin-bottom: 0px;
}

#modal_post {
    overflow: hidden;
}

.modal-content {
    overflow: hidden;
    overflow-y: hidden !important;
}

.userComment {
    margin-right: 0.25rem !important;
}

.postComment .comment {
    width: 70%;
    margin-left: 2%;
}

.userInfo {
    width: 80%;
}

.dateInfo {
    font-size: 10px;
    color: grey;
    padding-left: 15px;
}

.userInfoData {
    padding-left:15px;
}

.userInfoRow {
    margin-bottom: 0px;
}


/*Login */
.g-signin2 {
    margin: auto;
    padding-left: 10%;
}

.modal-content .card-content {
    width: 100%
}

.fixed-action-btn ul {
    position: inherit;
}

.commentEditButton {
    position: inherit;
}

.btnNotifications span.badge {
    position: relative;
    margin-left: 4px;
    line-height: 0;
    left: 10px;
    top: -47px;
    color: white;
}

.btnNotifications span.badge:empty {
    color: white;
    background-color: transparent !important;
}

/*Notifications*/
.blockNotifications {
    position: absolute;
    z-index: 999;
    right: 75px;
    top: 64px;
}

.notificationContainer:before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #e1f5fe;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 1000;
}

.notificationContainer {
    margin: 0;
    max-height: 400px;
    width: 375px;
    overflow-y: auto;
    overflow-x: hidden;
}

.notificationContainer li {
    opacity: 0;
    height: 65px;
    padding: 40px 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

.notificationContainer li:last-child {
    border-bottom: none;
}

.notificationContainer li:hover {
    background-color: #80cbc4 !important;
}


.notificationContainer li span {
    margin-left: 10px;
}

/*Media Queries for Mobile*/
@media only screen and (max-device-width: 480px) {
    .btnPostComment {
        padding: 0 0.2rem;
    }

    .postComment .comment {
        width: 69%
    }

    .modal-content .card .card-content {
        padding: 10px;
    }

    #block_comment .comments {
        overflow-y: auto;
        max-height: 320px;
        width: 100%;
    }

    #modal_post .userInfo {
        width: 75%;
    }

    .commentUser {
        margin-top: 25%;
        margin-left: 5%;
    }

    .btnModalClose {
        top: -5%;
        left: 15%;
    }

    .commentdropdown-button {
        position: relative;
        left: 10px;
    }

    .btnNotifications {
        margin-right: 5%;
    }
}

/* Media query for tablet*/
@media only screen and (min-width:321px) and (max-width:992px) {
    .btnNotifications {
        margin-right: 5%;
    }
}
/*Media Query for mobile and Tabelt*/
@media only screen and (max-width:992px) {

    #main.animate {
        animation: moveAside 1s;
        animation-fill-mode: forwards;
    }
    #main.moveBack {
        animation: moveBack 1s;
        animation-fill-mode: forwards;
    }
    .notificationContainer:before {
        content: none;
    }

    .blockNotifications {
        position: inherit;
    }

    .notificationContainer {
        width: 100%;
        height: 100%;
        max-height: 100%;
    }

    #btn_notificaiton_back {
        margin-left: 5%;
        margin-top: 5%;
    }
}

@keyframes moveAside {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-110%);}
}

@keyframes moveBack {
    0% {transform: translateX(-110%);}
    100% {transform: translateX(0%);}
}

/*Place Holder color Change*/
::-webkit-input-placeholder {
    color: #000000;
    opacity: 1 !important; /* for chrome */
}

:-moz-placeholder { /* Firefox 18- */
    color: #000000;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #000000;
}

:-ms-input-placeholder {
   color: #000000;
}
