{{> nav this.data}}
<div class="container" id="main">
    <div class="row" id="feeds">
        {{> post this.data}}
    </div>
    <div id="modal_post" class="modal modal-fixed-footer">
        <div class="modal-content">
            <a href="#" class="btnModalClose wave-effect waves-red btn-flat right"><i class="material-icons">clear</i></a>
            <div id="modal_content" class="hide-on-small-only"></div>
            <div id="block_comment">
                <div class="progress" id="comment_loader">
                    <div class="indeterminate"></div>
                </div>
                <div class="comments"></div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="postComment">
                <form id="comment_form" action="">
                    <input type="text" class="comment"/>
                    <a href="#" class="btnPostComment waves-effect waves-light btn btn-samll" data-id_post="">Comment</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function onLoad()
    {
        gapi.load('auth2', function() {
          gapi.auth2.init();
        });
    }

    var hold_scroll_handler =   true, page = 1, action  =   '/home';
    var timeout;

    var WALL    =   function() {
        this.page                   =   1;
        this.hold_scroll_handler    =   false;
        this.action                 =   "{{action}}";
        this.offset_bottom          =   106;
        this.feedContainer          =   null;
    };

    WALL.prototype.init     =   function() {
        var _this           =   this;
        _this.feedContainer =   $('#feeds');

        window.setInterval(function()
        {
            if(_this.hold_scroll_handler)
                return;

            if($(window).scrollTop() >= $(document).height() - $(window).height() - _this.offset_bottom)
            {
                _this.hold_scroll_handler    =    true;
                _this.page                   +=   1;

                _this.getPosts();
            }
        });
    };

    WALL.prototype.addToWall    =   function(item) {
        $('#feeds').append(item);
        $('.tooltipped').tooltip({delay: 50});
    };

    WALL.prototype.getPosts     =   function() {
        var _this   =   this;
        $.ajax({
            url		 :	this.action,
            type	 :	'GET',
            data	 :	{
                page: this.page
            },
            dataType :	'json',
            cache	 :	false,
            success	 :  function(data)
            {
                _this.addToWall(data.html);

                if(data.is_next_page == 0)
                    _this.hold_scroll_handler   =   true;
                else
                    _this.hold_scroll_handler   =   false;
            },
            error: function(response)
            {

            }
        });
    };

    WALL.prototype.getComments  =   function(id_post) {
        var _this   =   this;

        if(typeof id_post === undefined)
            return;

        var url =   '/comment/' + id_post;
        $('#comment_loader').show();
        $.ajax({
            url		 :	url,
            type	 :	'GET',
            dataType :	'json',
            cache	 :	false,
            success	 :  function(data)
            {
                $('#modal_post').find('#block_comment .comments').empty().html(data.html);
            },
            error: function(jXhr)
            {
                if(jXhr.status == 400 || jXhr.status == 500 || jXhr.status == 403)
                    _this.showMessage('error', jXhr.msg);
            },
            complete: function() {
                $('#comment_loader').hide();
            }
        });
    };

    WALL.prototype.showMessage   =   function(type, msg) {
        /*if(typeof timeout != 'undefined')
            clearTimeout(timeout);
        var $element =   type == 'success' ? $('#alert_success') : $('#alert_error');
        $element.html(msg).css('display', 'block');
        timeout    =    setTimeout(function(){ $element.css('display', 'none'); }, 4000);*/

        Materialize.toast(msg, 4000, "rounded");
    };

    var wall    =   new WALL();

    $(document).ready(function()
    {
        $(".button-collapse").sideNav();

        $('.btnModalClose').on('click', function(e) {
            e.preventDefault();

            $('#modal_post').closeModal();
        })
        var id_user =   "{{data.user.id_user}}";

        wall.init();

        $('.mobileSearchIcon').on('click', function(e) {
            e.preventDefault();

            $('#mobile_serach_box').toggle();
        });

        $('#btn_search_clear').on('click', function(e) {
            e.preventDefault();

            $('#search_bar_mobile').val('');
        });

        $('.btnLogout').on('click', function(e)
        {
            e.preventDefault();

            $('body').addClass('loading');

            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              location.href =   '/logout'
            });
        });

        $('body').on('click', '.bookmark', function(e)
        {
            e.preventDefault();
            var $this   =   $(this);
            var id_post =   $(this).data('id_post');
            $('body').addClass('loading');

            $.ajax({
                cache: false,
                type: 'POST',
                url: '/bookmark',
                dataType: 'json',
                data: {
                    id_user: id_user,
                    id_post: $(this).data('id_post')
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500 || jXhr.status == 403)
                        wall.showMessage('error', jXhr.msg);
                },
                success: function(data) {
                    wall.showMessage('success', data.msg);

                    $('.bookmark[data-id_post="' + id_post + '"]').removeClass('bookmark').addClass('bookmarked')
                        .data('id_bookmark', data.id_bookmark).attr('data-id_bookmark', data.id_bookmark)
                        .html('bookmark');
                },
                complete: function(){
                    busy    =   false;
                    $('body').removeClass('loading');
                }
            });
        });

        $('body').on('click', '.bookmarked', function(e)
        {
            e.preventDefault();
            var $this       =   $(this);
            var id_bookmark =   $(this).data('id_bookmark');
            $('body').addClass('loading');
            $.ajax({
                cache: false,
                type: 'DELETE',
                url: '/bookmark',
                dataType: 'json',
                data: {
                    id_user: id_user,
                    id_bookmark: id_bookmark
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500 || jXhr.status == 403)
                        wall.showMessage('error', jXhr.msg);
                },
                success: function(data) {
                    wall.showMessage('success', data.msg);
                    $('.bookmarked[data-id_bookmark="' + id_bookmark + '"]')
                        .removeClass('bookmarked').addClass('bookmark')
                        .data('id_bookmark', '')
                        .removeAttr('data-id_bookmark')
                        .html('bookmark_border');
                },
                complete: function(){
                    busy    =   false;
                    $('body').removeClass('loading');
                }
            });
        });

        $('.btnSearch').on('click', function(e)
        {
            e.preventDefault();
            var search_ele  =   $(this).data('search_bar');

            if($.trim($(search_ele).val()).length == 0)
                return;

            $('body').addClass('loading');
            location.href =   '/home/search/keyword/' + $.trim($(search_ele).val());
        });

        $('#search_form').on('submit', function(e) {
            e.preventDefault();

            $('#btn_search').trigger('click');
        });

        $('#comment_form').on('submit', function(e) {
            e.preventDefault();

            $('.btnPostComment').trigger('click');
        });

        $('body').on('click', '.btnPostComment', function(e)
        {
            e.preventDefault();
            var comment =   $.trim($(this).parent().find('.comment').val());
            var id_post =   $(this).data('id_post');
            var index   =   $(this).data('index');

            var method  =   $(this).data('is_edit') == true ? 'put' : 'post';

            if(comment.length == 0)
                return;

            var $this   =   $(this);

            $.ajax({
                cache: false,
                type: method,
                url: '/post/comment',
                dataType: 'json',
                data: {
                    'id_post': id_post,
                    'index': index,
                    'comment': comment,
                    'id_user': id_user
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500)
                        wall.showMessage('error', jXhr.msg);
                },
                success: function(data) {
                    wall.showMessage('success', data.msg);
                    $this.data('is_edit', false).removeAttr('data-is_edit');
                    $this.parents('.postComment').find('.comment').val('');
                    wall.getComments(id_post);
                }
            });
        });

        $('body').on('click', '.btnCommentEdit', function(e)
        {
            e.preventDefault();
            var index   =   $(this).data('index');
            var comment =   $(this).data('comment');

            $(this).parents('#modal_post').find('.postComment .btnPostComment').data('index', index).attr('data-index', index);
            $(this).parents('#modal_post').find('.postComment .btnPostComment').data('is_edit', true).attr('data-is_edit', true);
            $(this).parents('#modal_post').find('.postComment .comment').val(comment);
        });

        $('body').on('click', '.editHandler', function(e)
        {
            e.preventDefault();

            $(this).parent().find('.editContainer').toggle();
        });

        $('body').on('click', '.btnPostDelete', function(e)
        {
            e.preventDefault();

            $.ajax({
                cache: false,
                type: 'delete',
                url: '/post',
                dataType: 'json',
                data: {
                    'id_post': $(this).data('id_post'),
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500)
                        wall.showMessage('error', jXhr.msg);
                },
                success: function(data) {
                    wall.showMessage('success', data.msg);

                    setTimeout(function() {
                        $('body').addClass('loading');
                        location.href   =   '/home';
                    }, 3000);
                }
            });
        });

        $('body').on('click', '.btnPostEdit', function(e)
        {
            e.preventDefault();
            $('body').addClass('loading');

            location.href =   '/post?id_post=' + $(this).data('id_post');
        });

        $('body').on('click', '.btnCommentDelete', function(e)
        {
            e.preventDefault();

            var id_post =   $(this).data('id_post');
            var index   =   $(this).data('index');
            var id      =   $(this).data('id');
            var date      =   $(this).data('date');
            $.ajax({
                cache: false,
                type: 'delete',
                url: '/post/comment',
                dataType: 'json',
                data: {
                    'id_post': id_post,
                    'id': id,
                    'index': index,
                    'id_user': id_user,
                    'date': date
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500)
                        wall.showMessage('error', jXhr.msg);
                },
                success: function(data) {
                    wall.showMessage('success', data.msg);
                    wall.getComments(id_post);
                }
            });
        });

        $('body').on('click', '.btnComment', function(e)
        {
            e.preventDefault();

            var html    =   $(this).parents('.post').html();
            var id_post =   $(this).data('id_post');
            $('#modal_post #modal_content').empty().html(html);
            $('#modal_post').find('.btnComment').remove();
            $('#modal_post').find('.dropdown-button').remove();
            $('#modal_post').find('.btnPostComment').data('id_post', id_post).attr('data-id_post', id_post);
            $('#modal_post').openModal();
            wall.getComments(id_post);
        });
    });
</script>
