<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {{> nav this.data}}
    <main class="mdl-layout__content">
        <div class="page-content" style="padding-left:100px;">

        </div>
    </main>
</div>
<div class="container-fluid">

    <div class="row">
        <input type="text" id="search_bar" placeholder="Search"/>
        <span id="btn_search" class="pull-right glyphicon glyphicon-search"></span>
    </div>
    <div class="row" id="feeds">
        {{> post this.data}}
    </div>
</div>
<div id="modal_post" class="modal" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modal_body"></div>
        </div>
    </div>
</div>
<div class="alert alert-success" id="alert_success" role="alert" style="display:none;"></div>
<div class="alert alert-danger" id="alert_error" role="alert" style="display:none;"></div>
<script>
    function onLoad()
    {
        gapi.load('auth2', function() {
          gapi.auth2.init();
        });
    }

    var hold_scroll_handler =   true, page = 1, action  =   '/home';
    var timeout;

    var WALL    =   function() {
        this.page                   =   1;
        this.hold_scroll_handler    =   false;
        this.action                 =   "{{action}}";
        this.offset_bottom          =   106;
        this.feedContainer          =   null;
    };

    WALL.prototype.init     =   function() {
        var _this           =   this;
        _this.feedContainer =   $('#feeds');

        window.setInterval(function()
        {
            if(_this.hold_scroll_handler)
                return;

            if($(window).scrollTop() >= $(document).height() - $(window).height() - _this.offset_bottom)
            {
                _this.hold_scroll_handler    =    true;
                _this.page                   +=   1;

                _this.getPosts();
            }
        });
    };

    WALL.prototype.addToWall    =   function(item) {
        $('#feeds').append(item);
    };

    WALL.prototype.getPosts     =   function() {
        var _this   =   this;
        $.ajax({
            url		 :	this.action,
            type	 :	'GET',
            data	 :	{
                page: this.page
            },
            dataType :	'json',
            cache	 :	false,
            success	 :  function(data)
            {
                _this.addToWall(data.html);

                if(data.is_next_page == 0)
                    _this.hold_scroll_handler   =   true;
                else
                    _this.hold_scroll_handler   =   false;
            },
            error: function(response)
            {

            }
        });
    };

    WALL.prototype.getComments  =   function(id_post) {
        var _this   =   this;

        if(typeof id_post === undefined)
            return;

        var url =   '/comment/' + id_post;

        $.ajax({
            url		 :	url,
            type	 :	'GET',
            dataType :	'json',
            cache	 :	false,
            success	 :  function(data)
            {
                $('#modal_post').find('.comments').empty().html(data.html);
            },
            error: function(jXhr)
            {
                if(jXhr.status == 400 || jXhr.status == 500 || jXhr.status == 403)
                    _this.showMessage('error', jXhr.msg);
            }
        });
    };

    WALL.prototype.showMessage   =   function(type, msg) {
        if(typeof timeout != 'undefined')
            clearTimeout(timeout);
        var $element =   type == 'success' ? $('#alert_success') : $('#alert_error');
        $element.html(msg).css('display', 'block');
        timeout    =    setTimeout(function(){ $element.css('display', 'none'); }, 4000);
    };

    var wall    =   new WALL();
    $(document).ready(function()
    {
        var id_user =   "{{data.user.id_user}}";

        wall.init();
        $('#btn_logout').on('click', function()
        {
            $('body').addClass('loading');

            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              location.href =   '/logout'
            });
        });

        $('body').on('click', '.bookmark', function(e)
        {
            e.preventDefault();
            var $this   =   $(this);
            var id_post =   $(this).data('id_post');
            $('body').addClass('loading');

            $.ajax({
                cache: false,
                type: 'POST',
                url: '/bookmark',
                dataType: 'json',
                data: {
                    id_user: id_user,
                    id_post: $(this).data('id_post')
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500 || jXhr.status == 403)
                        wall.showMessage('error', jXhr.msg);
                },
                success: function(data) {
                    wall.showMessage('success', data.msg);

                    $('.bookmark[data-id_post="' + id_post + '"]').removeClass('bookmark glyphicon-star-empty').addClass('bookmarked glyphicon-star')
                        .data('id_bookmark', data.id_bookmark).attr('data-id_bookmark', data.id_bookmark);
                },
                complete: function(){
                    busy    =   false;
                    $('body').removeClass('loading');
                }
            });
        });

        $('body').on('click', '.bookmarked', function(e)
        {
            e.preventDefault();
            var $this       =   $(this);
            var id_bookmark =   $(this).data('id_bookmark');
            $('body').addClass('loading');
            $.ajax({
                cache: false,
                type: 'DELETE',
                url: '/bookmark',
                dataType: 'json',
                data: {
                    id_user: id_user,
                    id_bookmark: id_bookmark
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500 || jXhr.status == 403)
                        wall.showMessage('error', jXhr.msg);
                },
                success: function(data) {
                    wall.showMessage('success', data.msg);

                    $('.bookmarked[data-id_bookmark="' + id_bookmark + '"]')
                        .removeClass('bookmarked glyphicon-star').addClass('bookmark glyphicon-star-empty')
                        .data('id_bookmark', '')
                        .removeAttr('data-id_bookmark');
                },
                complete: function(){
                    busy    =   false;
                    $('body').removeClass('loading');
                }
            });
        });

        $('#btn_search').on('click', function(e)
        {
            e.preventDefault();

            if($.trim($('#search_bar').val()).length == 0)
                return;
            $('body').addClass('loading');
            location.href =   '/home/search/keyword/' + $.trim($('#search_bar').val());
        });

        $('body').on('click', '.btnPostComment', function(e)
        {
            e.preventDefault();
            var comment =   $.trim($(this).parent().find('.comment').val());
            var id_post =   $(this).data('id_post');
            var index   =   $(this).data('index');

            var method  =   $(this).data('is_edit') == true ? 'put' : 'post';

            if(comment.length == 0)
                return;

            var $this   =   $(this);

            $.ajax({
                cache: false,
                type: method,
                url: '/post/comment',
                dataType: 'json',
                data: {
                    'id_post': id_post,
                    'index': index,
                    'comment': comment,
                    'id_user': id_user
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500)
                        wall.showMessage('error', jXhr.msg);
                },
                success: function(data) {
                    wall.showMessage('success', data.msg);
                    $this.data('is_edit', false).removeAttr('data-is_edit');
                    $this.parents('.postComment').find('.comment').val('');
                    wall.getComments(id_post);
                }
            });
        });

        $('body').on('click', '.btnCommentEdit', function(e)
        {
            e.preventDefault();

            var index   =   $(this).data('index');
            var comment =   $(this).data('comment');

            $(this).parents('.row').find('.postComment .btnPostComment').data('index', index).attr('data-index', index);
            $(this).parents('.row').find('.postComment .btnPostComment').data('is_edit', true).attr('data-is_edit', true);
            $(this).parents('.row').find('.postComment .comment').val(comment);
        });

        $('body').on('click', '.editHandler', function(e)
        {
            e.preventDefault();

            $(this).parent().find('.editContainer').toggle();
        });

        $('body').on('click', '.btnPostDelete', function(e)
        {
            e.preventDefault();

            $.ajax({
                cache: false,
                type: 'delete',
                url: '/post',
                dataType: 'json',
                data: {
                    'id_post': $(this).data('id_post'),
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500)
                        wall.showMessage('error', jXhr.msg);
                },
                success: function(data) {
                    wall.showMessage('success', data.msg);

                    setTimeout(function() {
                        $('body').addClass('loading');
                        location.href   =   '/home';
                    }, 3000);
                }
            });
        });

        $('body').on('click', '.btnPostEdit', function(e)
        {
            e.preventDefault();
            $('body').addClass('loading');
            location.href =   '/post?id_post=' + $(this).data('id_post');
        });

        $('body').on('click', '.btnCommentDelete', function(e)
        {
            e.preventDefault();

            var id_post =   $(this).data('id_post');
            var index   =   $(this).data('index');
            var id      =   $(this).data('id');
            var date      =   $(this).data('date');
            $.ajax({
                cache: false,
                type: 'delete',
                url: '/post/comment',
                dataType: 'json',
                data: {
                    'id_post': id_post,
                    'id': id,
                    'index': index,
                    'id_user': id_user,
                    'date': date
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500)
                        wall.showMessage('error', jXhr.msg);
                },
                success: function(data) {
                    wall.showMessage('success', data.msg);
                    wall.getComments(id_post);
                }
            });
        });

        $('body').on('click', '.btnComment', function(e)
        {
            e.preventDefault();

            var html    =   $(this).parents('.post').html();

            $('#modal_post #modal_body').empty().html(html);
            $('#modal_post').find('.blockCommentBtn').hide()
            $('#modal_post').find('.blockComment').show();
            $('#modal_post').modal('show');
        });
    });
</script>
