<div class="container-fluid">
    {{> nav this.data}}
    <div class="row">
        <input type="text" id="search_bar" placeholder="Search"/>
        <span id="btn_search" class="pull-right glyphicon glyphicon-search"></span>
    </div>
    <div class="row" id="feeds">
        {{> post this.data}}
    </div>
</div>
<div class="alert alert-success" id="alert_info" role="alert" style="display:none;"></div>
<script>
    function onLoad()
    {
        gapi.load('auth2', function() {
          gapi.auth2.init();
        });
    }

    var hold_scroll_handler =   true, page = 1, action  =   '/home';

    var WALL    =   function() {
        this.page                   =   1;
        this.hold_scroll_handler    =   false;
        this.action                 =   "{{action}}";
        this.offset_bottom          =   106;
        this.feedContainer          =   null;
    };

    WALL.prototype.init     =   function() {
        var _this           =   this;
        _this.feedContainer =   $('#feeds');

        window.setInterval(function()
        {
            if(_this.hold_scroll_handler)
                return;

            if($(window).scrollTop() >= $(document).height() - $(window).height() - _this.offset_bottom)
            {
                _this.hold_scroll_handler    =    true;
                _this.page                   +=   1;

                _this.getPosts();
            }
        });
    };

    WALL.prototype.addToWall    =   function(item) {
        $('#feeds').append(item);
    };

    WALL.prototype.getPosts     =   function() {
        var _this   =   this;
        $.ajax({
            url		 :	this.action,
            type	 :	'GET',
            data	 :	{
                page: this.page
            },
            dataType :	'json',
            cache	 :	false,
            success	 :  function(data)
            {
                _this.addToWall(data.html);

                if(data.is_next_page == 0)
                    _this.hold_scroll_handler   =   true;
                else
                    _this.hold_scroll_handler   =   false;
            },
            error: function(response)
            {

            }
        });
    };

    var wall    =   new WALL();
    $(document).ready(function()
    {
        var id_user =   "{{data.user.id_user}}";

        wall.init();
        $('#btn_logout').on('click', function()
        {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              location.href =   '/logout'
            });
        });

        $('body').on('click', '.bookmark', function(e)
        {
            e.preventDefault();
            var $this   =   $(this);
            $('body').addClass('loading');
            $.ajax({
                cache: false,
                type: 'POST',
                url: '/bookmark',
                dataType: 'json',
                data: {
                    id_user: id_user,
                    id_post: $(this).data('id_post')
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500 || jXhr.status == 403)
                        $('#alert_info').html(jXhr.msg).addClass('alert-error').show();
                },
                success: function(data) {
                    $this.removeClass('bookmark glyphicon-star-empty').addClass('bookmarked glyphicon-star');
                },
                complete: function(){
                    busy    =   false;
                    $('body').removeClass('loading');
                }
            });
        });

        $('body').on('click', '.bookmarked', function(e)
        {
            e.preventDefault();
            var $this   =   $(this);
            $('body').addClass('loading');
            $.ajax({
                cache: false,
                type: 'DELETE',
                url: '/bookmark',
                dataType: 'json',
                data: {
                    id_user: id_user,
                    id_bookmark: $(this).data('id_bookmark')
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500 || jXhr.status == 403)
                        $('#alert_info').html(jXhr.msg).addClass('alert-success').show();
                },
                success: function(data) {
                    console.log(data);
                    $this.removeClass('bookmarked glyphicon-star').addClass('bookmark glyphicon-star-empty');
                },
                complete: function(){
                    busy    =   false;
                    $('body').removeClass('loading');
                }
            });
        });

        $('#btn_search').on('click', function(e)
        {
            e.preventDefault();

            if($.trim($('#search_bar').val()).length == 0)
                return;

            location.href =   '/home/search/keyword/' + $.trim($('#search_bar').val());
        });

        $('body').on('click', '.btnPostComment', function(e)
        {
            e.preventDefault();
            var comment =   $.trim($(this).parent().find('.comment').val());
            var id_post =   $(this).data('id_post');
            var index   =   $(this).data('index');

            var method  =   index ? 'put' : 'post';

            if(comment.length == 0)
                return;

            $.ajax({
                cache: false,
                type: method,
                url: '/post/comment',
                dataType: 'json',
                data: {
                    'id_post': id_post,
                    'index': index,
                    'comment': comment,
                    'id_user': id_user
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500)
                        home.showError(jXhr.msg);
                },
                success: function(data) {
                    console.log(data);
                }
            });
        });

        $('body').on('click', '.btnCommentEdit', function(e)
        {
            e.preventDefault();

            var index   =   $(this).data('index');
            var comment =   $(this).data('comment');

            $(this).parents('.row').find('.postComment .btnPostComment').data('index', index).attr('data-index', index);
            $(this).parents('.row').find('.postComment .comment').val(comment);
        });

        $('body').on('click', '.editHandler', function(e)
        {
            e.preventDefault();

            $(this).parent().find('.editContainer').toggle();
        });

        $('body').on('click', '.btnPostDelete', function(e)
        {
            e.preventDefault();

            $.ajax({
                cache: false,
                type: 'delete',
                url: '/post',
                dataType: 'json',
                data: {
                    'id_post': $(this).data('id_post'),
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500)
                        console.log(jXhr.msg);
                },
                success: function(data) {
                    console.log(data);
                }
            });
        });

        $('body').on('click', '.btnCommentDelete', function(e)
        {
            e.preventDefault();
            var id_post =   $(this).data('id_post');
            var index   =   $(this).data('index');
            var id      =   $(this).data('id');
            var date      =   $(this).data('date');
            $.ajax({
                cache: false,
                type: 'delete',
                url: '/post/comment',
                dataType: 'json',
                data: {
                    'id_post': id_post,
                    'id': id,
                    'index': index,
                    'id_user': id_user,
                    'date': date
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500)
                        home.showError(jXhr.msg);
                },
                success: function(data) {
                    console.log(data);
                }
            });
        });
    });
</script>
