<div class="container loginContainer valign-wrapper">
    <div style="margin:auto; text-align:center;">
        <h1 class="text-center" style="margin-bottom: 50px">Login</h1>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a href="#" class="btnLogout waves-effect btn defaultHidden" style="margin-top:10%;"><i class="material-icons right">power_settings_new</i>Logout</a>
    </div>

</div>

<script>
function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    var id_token = googleUser.getAuthResponse().id_token;
    console.log(profile, id_token);
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail());
    var domain = profile.getEmail().replace(/.*@/, "");

    if(domain.indexOf("krds") == -1)
    {
        Materialize.toast('You are not a KRDS user', 4000, "rounded");

        gapi.load('auth2', function() {
            gapi.auth2.init();
        });

        $('.btnLogout').show().css('display', 'block');
    }
    else {
        $.ajax({
        cache: false,
        type: 'POST',
        url: '/user',
        dataType: 'json',
        data: {
            id_token: id_token
        },
        error: function(jXhr) {
            if(jXhr.status == 400 || jXhr.status == 500)
                Materialize.toast(jXhr.msg, 4000, "rounded");
        },
        success: function(data) {
            if(data.success == true)
                location.reload();
        }
    });
    }
}

function setHeight() {
    var vpw =   $(window).width();
    var vph =   $(window).height();
    $('.loginContainer').css({'height': vph + 'px'});
}
$(document).ready(function()
{
    setHeight();

    $(window).on('resize', function() {
        setHeight();
    });

    $('.btnLogout').on('click', function(e)
    {
        e.preventDefault();

        $('body').addClass('loading');

        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          location.href =   '/logout'
        });
    });
});

</script>
